.form_container{
    width: 50%;
    padding: 20px;
    margin: 0 auto;
}
form{
    width: 100%;
}
.form-name-and-num{
    width: 100%;
}
.form-item{
    width: 100%;
    padding: 10px;
    margin: 5px;
}
#input-item{
    color: white;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    background-color: rgb(0, 0, 0);
}
#sent-button{
    color: white;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    background-color: gray;
}
#sent-button:hover{
    background-color: rgb(0, 0, 0);
}
textarea{
    display: block;
    resize: none;
}
::placeholder{
    color: white;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
@media screen and (max-width: 768px){

}