.members{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.division_img{
    width: 50%;
    margin: 20px auto;
    border-radius: 15px;
    transition: .3s ease-in-out;
    animation-name:zoomOutAnime;
	animation-duration:0.3s;
	animation-fill-mode:forwards;
}
.division_img:hover{
    filter: brightness(50%);
    animation-name:zoomInAnime;
	animation-duration:0.3s;
	animation-fill-mode:forwards;
}

.division_top{
    width: 64%;
    margin: 10px auto;
    border-radius: 15px;
}
.m_item{
    width: 15%;
    margin: 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    animation-name:zoomOutAnime;
	animation-duration:0.3s;
	animation-fill-mode:forwards;
}
.m_item:hover{
    filter: brightness(50%);
    animation-name:zoomInAnime;
	animation-duration:0.3s;
	animation-fill-mode:forwards;
    text-decoration: underline;
}
.m_icon{
    width: 100%;
    border-radius: 50%;
}
.m_txt{
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
}
@media screen and (max-width: 768px){
    .division_top{
        width: 90%;
    }
    .m_item{
        width: 40%;
        margin: 10px;
    }
}