@charset "utf-8";
.header_pc{
    display: contents;
}
.header_mobile{
    display: none;
}
.nav_list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(250, 250, 250);
}
.nav_item{
    list-style: none;
}
.nav_link{
    color: rgb(0, 0, 0);
    font-family: 'Zen Kaku Gothic New', sans-serif;
    text-decoration: none;
}
.nav_link:hover{
    color: rgb(0, 0, 0, 0.5);
    text-decoration: underline;
}
.header_logo{
    width: 50px;
    height: 50px;
    margin: 5px;
    animation-name:zoomOutAnime;
	animation-duration:0.3s;
	animation-fill-mode:forwards;
}
.header_logo:hover{
    animation-name:zoomInAnime;
	animation-duration:0.3s;
	animation-fill-mode:forwards;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgb(250, 250, 250);
}
.url_list{
    width: 20%;
}
.url_list .nav_list{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.sns_img{
    width: 40px;
    margin: 10px;
}
.url_list .nav_item{
    padding: 10px;
}

.cprt{
    color: rgb(0, 0, 0);
    font-family: 'Zen Kaku Gothic New', sans-serif;
}
.top_texts{
    width: 100%;
    padding: 50px;
    color: rgb(0, 0, 0);
    text-decoration: underline rgb(0, 200, 160);
    text-underline-offset: 15px;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    text-align: center;
}
.br_pc{
    width: 100%;
}
.br_mobile{
    width: 0;
}
.text_style{
    font-family: 'Zen Kaku Gothic New', sans-serif;
    text-align: center;
}
.center{
    text-align: center;
}
/*---------KeyFrames---------*/
@keyframes zoomInAnime{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0.9);
    }
}
@keyframes zoomOutAnime{
    from{
        transform: scale(0.9);
    }
    to{
        transform: scale(1);
    }
}
@media screen and (max-width: 768px){
    .header_pc{
        display: none;
    }
    .header_mobile{
        display: contents;
    }
    .drawer_hidden{
        display: none;
    }
    .drawer_open{
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 888;
        cursor: pointer;
    }
    .drawer_open span,
    .drawer_open span:before,
    .drawer_open span:after{
        content: '';
        display: block;
        width: 25px;
        height: 3px;
        transition: 0.5s;
        position: absolute;
        background: rgb(51, 51, 51);
    }
    .drawer_open span:before{
        bottom: 8px;
    }
    .drawer_open span:after{
        top: 8px;
    }
    #drawer_input:checked ~ .drawer_open span{
        background: rgba(255, 255, 255, 0);
    }
    #drawer_input:checked ~ .drawer_open span::before{
        bottom: 0;
        transform: rotate(45deg);
    }
    #drawer_input:checked ~ .drawer_open span::after{
        top: 0;
        transform: rotate(-45deg);
    }
    #drawer_input:checked ~ .nav_content{
        opacity: 1;
        pointer-events: auto;
        background: rgba(255, 255, 255, 0.5);
    }
    .nav_content{
        z-index: 512;
        /*fadein set*/
        opacity: 0;
        pointer-events: none;
        transition: 0.5s;
    }
    /*Header Settings*/
    header .nav_list{
        z-index: 256;
        width: 100%;
        height: 100%;
        list-style: none;
        background: rgba(255, 255, 255, 0.95);
        /* position set */
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        justify-content: space-around;
        position: fixed;
        top: 0;
    }
    header .nav_item{
        text-align: center;
    }
    header.nav_link{
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-family: 'Bruno Ace SC', sans-serif;
    }
    header .nav_link:hover{
        text-decoration: underline;
        color: rgba(0, 0, 0, 0.5);
    }
    .url_list .nav_list{
        justify-content: center;
    }
    .br_pc{
        width: 0;
    }
    .br_mobile{
        width: 100%;
    }
}
